* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/start_screen.jpg");
}
.game-canvas {
  border: 1px solid black;

  cursor: url("../images/pen.png"), auto;
  display: show;
}

.game {
  display: flex;
  justify-content: center;
}
.start-screen canvas {
  border: 1px solid green;
  width: 100vw;
  height: 80vh;
}
